<footer class="footer pb-1 has-background-dark has-text-white">
  <div class="container socials-links">
    
  </div>
  <div class="container is-size-7 mb-6">
    <p>
      © 2022 - Livros Explosivos por Gabriel Gomes. Todos os direitos reservados. <%= link_to 'Política de Privacidade', root_path %> | <%= link_to 'Termos de Uso', root_path %> 
    </p>
    <p>
      Os produtos apresentados estão sujeitos a variações de preço conforme determinação dos respectivos e-commerces
    </p>
  </div>
  <div class="container rights">
    <p class="has-text-right">
      Feito pelo <a href="https://gabrielgo.dev" target="_blank">Gabigol</a>.
    </p>
  </div>
</footer>
