<section class="section is-medium is-flex is-align-items-center is-justify-content-center has-background-dark p-6 mb-6">
  <figure class="image">
    <%= image_tag 'EXPLOSIVOS.png', :class => 'logo-img', :alt => 'Logo' %>
  </figure>
</section>