 <nav class="navbar has-black-text" role="navigation" aria-label="main navigation">
  <div class="container p-2">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <p class="is-family-monospace has-text-weight-bold is-size-2 is-size-3-tablet is-size-4-mobile">LIVROS EXPLOSIVOS</p>
      </a>
 
      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
 
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-end">
      <% if !user_signed_in? %>
        <div class="navbar-item">
            <%= link_to "Entrar", user_session_path, class: 'button is-dark'  %>
        </div>
      <% end %>
        <% if user_signed_in? %>
          <a class="navbar-item" href='/posts/new'>
            + Nova Publicação
          </a>
          <div class="navbar-item">
            <%= link_to "Sair", destroy_user_session_path, method: :delete, class: 'button is-dark'  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>