<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item  has-background-white has-text-black" href="/">
        <p class="is-family-monospace has-text-weight-bold is-size-3 is-size-4-tablet is-size-5-mobile">LIVROS EXPLOSIVOS</p>
        <p class="is-family-sans-serif is-size-6 is-hidden-mobile">(e como desarmá-los)</p>
      </a>
 
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
 
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
      <% if user_signed_in? %>
        <a class="navbar-item" href='/posts/new'>
          + Nova Publicação
        </a>
      <% end %>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <% unless user_signed_in? %>
              <a class="button is-primary" href='/users/sign_up'>
                <strong>Cadastre-se</strong>
              </a>
              <a class="button is-light" href='/users/sign_in'>
                Entrar
              </a>
            <% end %>  
            <% if user_signed_in? %>
              <%= link_to "Sair", destroy_user_session_path, method: :delete, class: 'button is-light'  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>