<div class="field">
  <p class="control has-icons-right">
    <input class="input" type="text" placeholder="Digite e busque algo">
    <span class="icon is-small is-right">
      <i class="fa fa-search"></i>
    </span>
  </p>
</div>