<div class="container">
  <div class="column">
    <% if @post.featured_image.attached? %>
      <figure class="image is-3by1">
        <%= image_tag @post.featured_image %>
      </figure>
    <% end %>
    <div class="columns">
      <div class="column">
        <p class="title"><%= @post.title %></p>
      </div>
    </div>
    <div class="columns">
        <div class="column"><%= @post.content %>
    </div>
  </div>
</div>