/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*= require font-awesome
 */
	
@import "bulma/bulma";
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body, 
.navbar,
.card {
  // background-color: #FAF5EE;
}

.fb-share-button {
  background-color: #1877f2;
  border-radius: 15px;
  color: white;
  font-size: 12px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  padding: 5px;
  text-align: center;

  a {
    color: white;
    text-decoration: none;
  }
}

.tag {
  a {
    color: white;
    text-decoration: none;
  }
}

.share-buttons {
  gap: 10px;
}

.welcome-body {
  min-height: calc(100vh - 80px - 168px);
}

.fa{
  transform: scale(1.5);
}

.telegram{
  transform: scale(2);
}

.logo-img {
  max-width: 900px;
  height: auto;
}